@model List<Student>

<div class="container mt-5">
	<h2 class="mb-4 text-center">Student Information</h2>
	<table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Department</th>
            </tr>
        </thead>
        @foreach(var student in Model) {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Department.Name</td>
            </tr>
        }
	</table>
</div>