/* styles.css */
body {
    margin: 0;
    font-family: sans-serif;
/*    display: flex;*/
    min-height: 100vh;
}

.container {
/*    display: flex;*/
/*    flex-grow: 1;*/
}

.sidebar {
    border-right: 5px solid #99fbfb;
    background-color: #f0f0f0;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Make the sidebar fixed */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ensure it spans the full viewport height */
    overflow-y: auto; /* Add scroll if content overflows */
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

    .sidebar-nav a:hover {
        background-color: #ddd;
    }

.sidebar-nav .icon {
    margin-right: 5px;
}

.page-content {
/*    flex-grow: 1;*/
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff; /* Optional: Set a background color for the content area */
    /* Adjust padding to account for the fixed sidebar */
    /*margin-left: 200px;*/ /* Same as the sidebar width */
}
